@font-face {
  font-family: 'Custom Font';
  src: url('../ressources/ethnocentric_rg.otf');
}

body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: #000012;
  font-family: Verdana, Tahoma;
}

.container {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  padding: 1rem;
  gap: 0.5rem;
  justify-content: space-between;

  border: 5px solid #55ffff;
}

.container > div {
  flex: 1 0;
  padding: 0.8rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.container > div > div {
  border: 2px solid #55ffff;
  padding: 1rem;
  background-color: #000a12;
}

.container > div > div:first-child {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.container > div > div:last-child {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  flex: 1;
}

#map {
  border: 2px dotted #55ffff;
  height: 20vw;
  width: 30vw;
  border-radius: 50%;
  margin-bottom: 1rem;
}

#map-center {
  position: relative;
  left: 50%;
  top: 50%;
}

#map .waypoint {
  position: absolute;
  border: 1px solid white;
  height: 5px;
  width: 5px;
  transition: 0.5s ease;
}
#map .waypoint:hover {
  background-color: white;
}

#waypoint-description {
  flex: 1;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.ship-icon {
  padding: 0.2rem;
  width: 2rem;
  border: 3px dotted #55ffff;
  transition: 0.2s ease;
}

.ship-icon:hover {
  border: 3px solid #ff5555;
}

#ship-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

button {
  background-color: #000a12;
  color: #55ffff;
  font-family: 'Custom Font';
  font-weight: 100;
  min-width: 4rem;
  min-height: 4rem;
  text-wrap: wrap;
  border-color: #55ffff;
  transition: 0.3s ease;
}

button:hover {
  color: #ff5555;
  border-color: #ff5555;
}

.button-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1px;
  row-gap: 0.2rem;
}

.text-button {
  border: none;
  min-width: none;
  min-height: none;
  margin-left: 1rem;
  margin-right: 1rem;
}

input {
  color: #55ffff;
  background-color: #000a12;
  border: none;
  border-bottom: 1px solid #55ffff;
}

.circle {
  width: 5px;
  height: 5px;
  background: #ff5555;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  margin: auto;
  animation: circle 3s linear infinite;
}

@keyframes circle {
  0% {
    transform: rotate(0deg) translate(-10px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-10px) rotate(-360deg);
  }
}
